/* * {
  box-sizing: border-box;
  background-color: #282c34;
}

body {
  margin: 0;
  background-color: #282c34;
}

div {
  background: red;
  color: white;
  min-height: 100vh;
  padding: 10px;
} */

.App {
  text-align: center;
  background-color: #282c34;
  

}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

a:link{
  color: rgba(228, 88, 221, 0.801);
}
a:visited{
  color:rgb(113, 24, 216);
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-topline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  font-family: "COPPERPLATE", fantasy;
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
